body{
    margin:auto;
    font-size: 1.7em;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    list-style: none;
    flex-direction: row;
}
li{
    padding: 1em;
}
header{
    padding: 1em;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #f3e9f1;
    border-bottom: #dc7d15 solid 0.5em;
    padding: 1em;
    padding-right: 5%;
}
.titre-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #dc7d15;
    margin-top: 0;
    padding-top: 1.5em;
}
section{
    background-color: #955ee5;
    padding-bottom: 2em;
}
h2{
    color: #dc7d15;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}
.card{
    border:#dc7d15 solid 0.1em;
    background-color: #f3e9f1;
    padding: 2em;
    margin:1em;
}
.tedddy{
    box-shadow: 2px 5px 10px 3px #000000;
}
footer{
    display: flex;
    justify-content: space-between;
    border-top: #dc7d15 solid 0.5em;
    background-color: #f3e9f1;
    justify-content: space-between;
    padding: 1em;
}

